/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Nunito Sans", sans-serif;
    --secondary-font: "Saira", sans-serif;
    --primary-color: #2D5016; /* deep forest green */
    --secondary-color: #8B4513; /* saddle brown */
    --highlight-color: #6B9E3D;/* vibrant leaf green */
     --light-highlight-color: #F9F6F0; /* soft cream */
}

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    background-image: url(../images/background-image.webp);
    background-size: cover;
    background-repeat: no-repeat;   
}

#navbar {
    background-color: var(--highlight-color);
    font-family: var(--secondary-font);
    font-size: 2em;
    font-weight: 400;
}

.navbar-brand {
    font-size: 1em;
    color: var(--secondary-color);
    font-weight: 600;
}

.navbar-brand:hover {
    color: var(--light-highlight-color);
}

.nav-link {
    color: var(--secondary-color)
}

.nav-link:hover {
    color: var(--light-highlight-color);
}